.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: white;
}

.background-doodle {
  height: 25%;
  width: 25%;
  object-fit: cover;
  margin: 0 auto;
  padding: 2rem 0;
  display: block;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 2rem;
  gap: 50px;
}

.footer-details {
  text-align: left;
}

.footer-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px 0;
}

.footer-intro {
  font-size: 0.75rem;
  color: black;
  line-height: 1.5;
}

.btn-cv {
  display: inline-block;
  color: black;
  text-decoration: underline;
}

.footer-navigation {
  display: flex;
  gap: 18px;
}

.footer-navigation .nav-item {
  text-decoration: none;
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 4px 40px;
  border-radius: 20px;
}

.social-media {
  display: flex;
  gap: 10px;
}

.social-icon {
  width: 30px;
  height: 30px;
}
