.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  color: black;
  padding: 10px 0;
}

.navbar-list {
  list-style: none;
  display: flex;
  position: relative;
  top: 3rem;
  gap: 4.5rem;
  padding: 0;
  margin: 0;
}

.navbar-list li {
  display: inline-block;
}

.navbar-list a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  letter-spacing: 2px;
  transition: color 0.3s ease;
}

.navbar-list a:hover {
  color: white;
}
