.navbar {
  width: 100%;
  background-color: transparent;
  padding: 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 4.5rem;
  padding: 2rem;
  margin: 0;
}

.left-navbar-list {
  display: flex;
  align-items: center;
}

.left-navbar-list p,
.right-navbar-list {
  font-weight: bold;
}

.nav-portfolio-icon {
  height: 30px;
  width: 30px;
}

.center-navbar-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-cat-logo {
  height: 40px;
  width: 40px;
}

/* mobile phone */
@media screen and (max-width: 767px) {
  .right-navbar-list {
    display: none;
  }
}
