.navbar {
  width: 100%;
  background-color: transparent;
  padding: 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbarList {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 4.5rem;
  padding: 2rem;
  margin: 0;
}

.leftNavbarList {
  display: flex;
  align-items: center;
}

.leftNavbarList p,
.rightNavbarList {
  font-weight: bold;
}

.navPortfolioIcon {
  height: 30px;
  width: 30px;
}

.centerNavbarList {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navCatLogo {
  height: 40px;
  width: 40px;
}

/* mobile phone */
@media screen and (max-width: 767px) {
  .rightNavbarList {
    display: none;
  }
}
