.globalFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  height: 150px;
  background-color: black;
  text-align: center;
  color: white;
}

.globalFooter div > p {
  margin: 0.25rem;
  font-size: medium;
}

/* mobile */
@media screen and (max-width: 767px) {
  .globalFooter div > p {
    font-size: x-small;
  }
}
